<?xml version="1.0"?><configuration><system.webServer><defaultDocument><files><clear/><add value="index.html"/></files></defaultDocument><httpErrors errorMode="Custom" existingResponse="Replace"><remove statusCode="404"/><error statusCode="404" path="/index.html" responseMode="ExecuteURL"/></httpErrors></system.webServer></configuration>
